<section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Discover and share your world with Red</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Red is your gateway to endless communities, conversations, and discoveries. Dive into your interests, connect with people, and share your stories.</p>
          <%=Authorize(@logged_in)%>
          <a href="/about" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              Learn More
          </a> 
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
          <img src="/img/hero/hero.png" alt="mockup of Red platform">
      </div>                
  </div>

  <section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
        <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">1+</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">users</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">0</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">posts</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl md:text-4xl font-extrabold">0</dt>
                <dd class="font-light text-gray-500 dark:text-gray-400">sponsors</dd>
            </div>
        </dl>
    </div>
  </section>
</section>
