@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Button Styling */
.vote-button {
  border-color: white;
  /* gray-300 */
  color: #6b7280;
  /* gray-500 */
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.vote-button svg {
  stroke: white;
  fill: none;
  transition: all 0.2s ease-in-out;
}

/* Hover State */
/* .vote-button:hover { */
/* border-color: #3b82f6; blue-500 */
/* color: #3b82f6; blue-500 */
/* } */

.vote-button:hover svg {
  stroke: #3b82f6;
  /* blue-500 */
}

/* Active State */
/* .vote-button.active {
  background-color: #3b82f6;
  border-color: #3b82f6;
  color: #ffffff;
} */

.vote-button.active svg {
  fill: #3b82f6;
  stroke: none;
  /* white */
  /* stroke: #3b82f6; blue-500 */
}