<div class="bg-white border-gray-200 dark:bg-gray-900 w-full flex flex-col items-center py-10">
    <div class="max-w-96 min-w-20 flex flex-col gap-10"> 
        <%@posts.each do |post|%>
            <%=PostComponent(post)%>
        <%end%>
    </div>
</div>