<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# <link rel="stylesheet" href="assets/application.css"> %>
    <%# <script src="assets/flowbite.js"></script> %>
    <script src="assets/post.js"></script>
    <link rel="stylesheet" href="assets/application.css">
    <title><%=PROJECT_NAME%> Posts</title>
</head>
<body>
  <%=Navbar(path_info: request.fullpath, user: @user, pages: {'Home' => '/', 'About' => '/about', 'Ads' => '/ads'})%>
  <%= yield %>
  <%=Footer()%>
</body>
</html>
