<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/application.css">
    <%# <script src="assets/flowbite.js"></script> %>
    <script src="assets/post.js"></script>
    <link rel="stylesheet" href="assets/application.css">
    <title><%=PROJECT_NAME%> Posts</title>
</head>
<body>
  <%=Navbar(0, @user, { 'Home' => '/posts/home', 'Popular' => '/posts/popular', 'Latest' => '/posts/latest'})%>
  <%= yield %>
  <%=Footer()%>
</body>
</html>
