<div class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200 min-h-screen p-4 shadow-md">
  <!-- Post Component -->
  <div class="mb-6">
    <%= PostComponent(post: @post, preview: false, user_id: @user_id, base_url: request.base_url) %>
  </div>

  <!-- Add Comment Form -->
  <div class="mb-6">
    <%= CommentFormComponent(@post, nil) %>
  </div>

  <!-- Comment Section -->
  <div>
    <%= CommentSectionComponent(@post, @grouped_comments, nil, 1, @offset, @limit) %>
  </div>

  
</div>
