<div class="flex flex-col gap-12 pb-12">
  <%if @current_account%>
    <%= TabComponent(path_info: request.fullpath, tabs_name: 'User Profile Options', tabs: { 'Posts' => "/account/#{@user_id}/posts", 'Settings' => "/account/#{@user_id}/settings" }) %>
  <%end%>

  <%= TabComponent(path_info: request.fullpath, tabs_name: 'Post Sort Options', tabs: { 'New' => "/account/#{@user_id}/posts/new", 'Hot' => "/account/#{@user_id}/posts/hot", 'Rising' => "/account/#{@user_id}/posts/rising", 'Random' => "/account/#{@user_id}/posts/random" }) %>
</div>

<div class="bg-white border-gray-200 dark:bg-gray-900 w-full flex flex-col items-center">
  <!-- Container for posts -->
  <div id="post-container" class="w-full max-w-2xl md:max-w-3xl flex flex-col gap-4 md:gap-6">
    <%= PostListComponent(posts: @posts, user_id: @user_id, offset: @offset + @limit, limit: @limit, user_ids: @user_ids, channel_ids: @channel_ids, search_query: @search_query, order_by: @order_by) %>
  </div>
</div>