<%if @current_account%>
    <div class="sm:hidden">
        <label for="user-tabs" class="sr-only">Select post feed type</label>
        <select id="user-tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="posts">Posts</option>
            <option value="settings">Settings</option>
        </select>
    </div>

    <script>
        document.getElementById('tabs').addEventListener('change', function() {
            window.location = "/account/<%=@user_id%>/" + this.value;
        });
    </script>

    <ul class="hidden text-sm font-medium text-center text-gray-500 shadow-sm sm:flex dark:divide-gray-700 dark:text-gray-400">
        <li class="w-full focus-within:z-10">
            <a href="/account/<%=@user_id%>/posts" class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 dark:border-gray-700 focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" aria-current="page">Posts</a>
        </li>
        <li class="w-full focus-within:z-10">
            <a href="/account/<%=@user_id%>/settings" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Settings</a>
        </li>
    </ul>
<%end%>

<div class="sm:hidden">
    <label for="post-tabs" class="sr-only">Select post feed type</label>
    <select id="post-tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="recent">New</option>
        <option value="upvotes">Hot</option>
        <option value="votes">Rising</option>
        <option value="random">Random</option>
    </select>
</div>

<script>
    document.getElementById('post-tabs').addEventListener('change', function() {
        window.location = this.value;
    });
</script>

<ul class="hidden text-sm font-medium text-center text-gray-500 shadow-sm sm:flex dark:divide-gray-700 dark:text-gray-400">
    <li class="w-full focus-within:z-10">
        <a href="posts/new" class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 dark:border-gray-700 focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" aria-current="page">New</a>
    </li>
    <li class="w-full focus-within:z-10">
        <a href="posts/hot" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Hot</a>
    </li>
    <li class="w-full focus-within:z-10">
        <a href="posts/rising" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Rising</a>
    </li>
    <li class="w-full focus-within:z-10">
        <a href="posts/random" class="inline-block w-full p-4 bg-white border-s-0 border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Random</a>
    </li>
</ul>

<form class="max-w-full p-12 mx-auto bg-white dark:bg-gray-900" action="/posts/" method="get">
    <div class="flex">
        <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search Posts</label>
        <div class="relative w-full">
            <input type="search" name="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Posts, Users, Channels..." required />
            <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
</form>

<div class="bg-white border-gray-200 dark:bg-gray-900 w-full flex flex-col items-center">
  <!-- Container for posts -->
  <div id="post-container" class="w-full max-w-2xl md:max-w-3xl flex flex-col gap-4 md:gap-6">
    <%= PostListComponent(posts: @posts, user_id: @user_id, offset: @offset + @limit, limit: @limit, user_ids: @user_ids, channel_ids: @channel_ids, search_query: @search_query, order_by: @order_by) %>
  </div>
</div>