<div class="sm:hidden">
    <label for="user-tabs" class="sr-only">Select post feed type</label>
    <select id="user-tabs" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="posts">Posts</option>
        <option value="settings">Settings</option>
    </select>
</div>

<script>
    document.getElementById('tabs').addEventListener('change', function() {
        window.location = "/account/<%=@user_id%>/" + this.value;
    });
</script>

<ul class="hidden text-sm font-medium text-center text-gray-500 shadow-sm sm:flex dark:divide-gray-700 dark:text-gray-400">
    <li class="w-full focus-within:z-10">
        <a href="/account/<%=@user_id%>/posts" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700 ">Posts</a>
    </li>
    <li class="w-full focus-within:z-10">
        <a href="/account/<%=@user_id%>/settings" class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 dark:border-gray-700 focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" aria-current="page">Settings</a>
    </li>
</ul>